{% extends "include/base.html" %}

{% block title %}All Cars{% endblock %}

{% block content %}

{% if carList %}
    <table class="table table-striped table-bordered">
        <tr>
            <th>Mark/Number</th>
            <th>Type</th>
            <th>Coupler</th>
            <!-- <th>Livery</th> -->
            <th>Manufacturer</th>
            <th>Model Number</th>
            <th>Notes</th>
            <th>Actions</th>
        </tr>
        {% for car in carList %}
        <tr>
          <td>
            {{ car.railroad.mark }} {{ car.number }}
            {% if car.livery %}
              <a href="#" data-toggle="tooltip" title="{{ car.livery }}">
                <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
              </a>
            {% endif %}
          </td>
          <td>
            {{ car.type }}
            {% if car.length %}
              ({{ car.length }}')
            {% else %}
              <span class="glyphicon glyphicon-question-sign" style="color:orange" aria-hidden="true"></span>
            {% endif %}
          </td>
          <td>
            {% if car.couplerTuned %}
              <span class="glyphicon glyphicon-ok" style="color:green" aria-hidden="true"></span>
            {% else %}
              <span class="glyphicon glyphicon-remove" style="color:red" aria-hidden="true"></span>
            {% endif %}
            {{ car.coupler|default_if_none:'' }}
          </td>
          <!-- <td>{{ car.livery|default_if_none:'' }}</td> -->
          <td>
            {{ car.manufacturer|default_if_none:'' }}
            {% if car.year %}
              ({{ car.year }})
            {% endif %}
          </td>
          <td>{{ car.modelnumber|default_if_none:'' }}</td>
          <td>
            {% if car.notes %}
              <a href="#" data-toggle="tooltip" title="{{ car.notes }}">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
              </a>
            {% endif %}
          </td>
            <td>
                <a class="btn btn-xs btn-info" href="/car/{{car.id}}/edit">Edit</a>
                <a class="btn btn-xs btn-danger" href="/car/{{car.id}}/delete">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No cars created.</p>
{% endif %}
<a class="btn btn-success" href="/car/create">New Car</a>
<p>
{% endblock %}
