{% extends "include/base.html" %}

{% block title %}All Railroads{% endblock %}

{% block content %}

{% if railroadList %}
    <table class="table table-striped table-bordered">
        <tr>
            <th>ID</th>
            <th>Reporting Mark</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        {% for railroad in railroadList %}
        <tr>
            <td>{{ railroad.id }}</td>
            <td>{{ railroad.mark }}</td>
            <td>{{ railroad.name }}</td>
            <td>
                <a class="btn btn-xs btn-info" href="/railroad/{{railroad.id}}/edit">Edit</a>
                <a class="btn btn-xs btn-danger" href="/railroad/{{railroad.id}}/delete">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No railroads created.</p>
{% endif %}
<a class="btn btn-success" href="/railroad/create">New Railroad</a>
<p>
{% endblock %}
